In [1]:
import pandas as pd

df = pd.read_csv("./census.csv")

In [2]:
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# The first thing we notice is that the column names have extra whitespace in them:

In [9]:
for col in df.columns:
    print(f"'{col}'")

'age'
' workclass'
' fnlgt'
' education'
' education-num'
' marital-status'
' occupation'
' relationship'
' race'
' sex'
' capital-gain'
' capital-loss'
' hours-per-week'
' native-country'
' salary'

# We can fix this quickly below:

In [16]:
rename_map = {col: col.strip() for col in df.columns}
df.rename(columns=rename_map, inplace=True)
for col in df.columns:
    print(f"'{col}'")

'age'
'workclass'
'fnlgt'
'education'
'education-num'
'marital-status'
'occupation'
'relationship'
'race'
'sex'
'capital-gain'
'capital-loss'
'hours-per-week'
'native-country'
'salary'

In [15]:
cleaned_data = "./
df.to_csv(

'age'
'workclass'
'fnlgt'
'education'
'education-num'
'marital-status'
'occupation'
'relationship'
'race'
'sex'
'capital-gain'
'capital-loss'
'hours-per-week'
'native-country'
'salary'